# Problem solving in Python

Q0. find sum of elements in list

e.g. q = [1, 2, 3]
sol = 6

In [ ]:
q= [4,7,5]
s= 0
for i in q:
  s=s + i
print(s)

for i in range(len(q)):
  s=s + q[i]
print(s)

6

In [ ]:
s="krishna"
print(s[-1])

a

Q1. Swap Two Elements in a List

e.g. [1 , 2 , 3 , 4]
swap 1st and 3rd

sol = [3, 2, 1, 4]

In [ ]:
a = ['1','2','3','4']
x = a[0]
a[0] = a[2]
a[2] = x
print (a)

[4, '2', '3', 1]

In [ ]:
a = 5
b =3
c = a
a = b
b = c

a=a+b
b=a-b
a=a-b

Q2. Find sum of individual digits of a given number

e.g. num = 26

sum = 8

In [ ]:
a = 26
b = a//10
c=a%10
print(b,c,b+c)

2 6 8

Q3. Find Sum of individual digits of the numbers in the given List

e.g. q = [13, 24, 33]

solution = [4, 6, 6]

Q4. Given two numbers, write a Python code to find the Maximum of these two numbers.

Q5. Given three numbers, write a Python code to find the Maximum of these three numbers.

Q6. Find Largest Number in a List Without using built-in functions

Q7. Given 3 numbers sort them

e.g. list = [3,1,2]
sorted = [1,2,3]

q8. find second largest number in a list

q9. Reverse a list

q10. Intersection of two lists

Input :
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]
Output :
[9, 10, 4, 5]

Input :
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
Output :
[9, 11, 26, 28]

q11. Check whether the string is Symmetrical or Palindrome

A string is said to be symmetrical if both the halves of the string are the same and a string is said to be a palindrome string if one half of the string is the reverse of the other half or if a string appears same when read forward or backward.

e.g. "malayalam", "noon", "level", "Racecar", "radar", "rotator",

"khokho"

"amama"

q12. Check if two lists are identical

q.13 Reverse Words in a Given String in Python

q14. Simple Diamond Pattern in Python

q15. print Pascalâ€™s Triangle

Input: N = 5

Output:

      1

     1 1

    1 2 1
    
  1 3 3 1

  1 4 6 4 1

          0C0
       1C0   1C1
    2C0   2C1   2C2
 3C0   3C1   3C2    3C3

Using nCr formula i.e. n!/(n-r)!r!